In [1]:
import pyodbc
import pandas as pd

In [2]:
#from login imimport connectiones as lg

## Show drivers in the system

In [3]:
for driver in pyodbc.drivers(): 
    print(driver)

SQL Server
SQL Server Native Client 11.0
ODBC Driver 17 for SQL Server
ODBC Driver 18 for SQL Server
Microsoft Access Driver (*.mdb, *.accdb)
Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
Microsoft Access Text Driver (*.txt, *.csv)

## Engine odbc

In [4]:
# Define the connection string
server = '192.168.3.24'
database = 'master'
uid = 'sa'
pwd = 'Panama11'
tcon = 'yes'
#cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';\DATABASE='+ database +';\Trusted_Connection=yes;'+lg().login()+)

In [5]:
cnxn_true = pyodbc.connect(driver='{SQL Server}', server='localhost', database='master', uid='sa', pwd='Panama11')

In [6]:
cnxn_true

In [7]:
cursor = cnxn_true.cursor()

In [8]:
cnxn_1 = pyodbc.connect(driver='{SQL Server}',server=server,database=database,user=uid,password=pwd)

In [9]:
cnxn_1

In [10]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2019 (RTM-CU18) (KB5017593) - 15.0.4261.1 (X64)
	Sep 12 2022 15:07:06
	Copyright (C) 2019 Microsoft Corporation
	Express Edition (64-bit) on Linux (Ubuntu 20.04.5 LTS) <X64>

In [11]:
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
#server = 'tcp:myserver.database.windows.net' 
#database = 'mydb' 
username = 'sa' 
password = 'Panama11' 
# ENCRYPT defaults to yes starting in ODBC Driver 18. It's good to always specify ENCRYPT=yes on the client side to avoid MITM attacks.
cnxn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';PORT='+'1433'+';DATABASE='+database+';ENCRYPT=no;UID='+username+';PWD='+ password)
#Hay que preguntar como se usa el parametro ENCRYPT
cursor1 = cnxn.cursor()

In [12]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2019 (RTM-CU18) (KB5017593) - 15.0.4261.1 (X64)
	Sep 12 2022 15:07:06
	Copyright (C) 2019 Microsoft Corporation
	Express Edition (64-bit) on Linux (Ubuntu 20.04.5 LTS) <X64>

In [19]:
#Sample select query
cursor.execute("SELECT ID, [Nombre Producto], Categoria, Valor FROM Data_hub.dbo.Sales_ramdon;") 
row = cursor.fetchone() 
while row: 
    print(row[0:3])
    row = cursor.fetchone()

(0, 'Jugo Pera', 'Pruebas')
(1, 'Jugo Fresa', 'Frio')
(2, 'Jugo Tomate', 'Pruebas')
(3, 'Jugo Naranja', 'Frio')
(2999, 'Jugo Naranja', 'Pruebas')

<H2> Cerrar la connexion

In [14]:
#cnxn_true.close()